html {
    overflow-x: hidden;
}

body {
    font-family: open-sans, sans-serif;
    background-color: #5bb9e9;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}

#starting-page {
    /* position: fixed; */
}

/* #name-start {
    position: relative;
}

#name-start:before {
    content: " ";
    width: 100%;
    height: 10px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transition: 0.4s height ease-out;
	-moz-transition: 0.4s height ease-out;
	-webkit-transition: 0.4s height ease-out;
}

#name-start:hover:before {
    height: 100%;
} */

.fullscreen-container {
    height: 100vh;
    width: 100vw;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    align-items: center;
}

.flex-centered {
    justify-content: center;
}

.img-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#img-logo-start {
    max-height: 50vh;
    max-width: 65vw;
}

span {
    transition: 0.4s all ease-out;
	-moz-transition: 0.4s all ease-out;
	-webkit-transition: 0.4s all ease-out;
}
