html {
    overflow-x: hidden;
}

body {
    font-family: open-sans, sans-serif;
    background-color: #5bb9e9;
}

h1 {
    color: whitesmoke;
    font-size: 4rem;
}

.fullscreen-container {
    height: 100vh;
    width: 100vw;
}

.flex {
    display: flex;
}

.flex-centered {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#img-logo-start {
    max-height: 50vh;
    max-width: 65vw;
}