html {
    overflow-x: hidden;
}

body {
    font-family: open-sans, sans-serif;
}

h1 {
    font-family: Lato, open-sans, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 4rem !important;
    font-weight: 100 !important;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h2 {
    font-size: 3rem;
}

#starting-page {
    background-color: #5bb9e9;
}

#name-start {
    margin-top: 20px;
}

/* #name-start {
    position: relative;
}

#name-start:before {
    content: " ";
    width: 100%;
    height: 10px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transition: 0.4s height ease-out;
	-moz-transition: 0.4s height ease-out;
	-webkit-transition: 0.4s height ease-out;
}

#name-start:hover:before {
    height: 100%;
} */

.text-centered {
    text-align: center;
}

.fullwidth-container {
    width: 100vw;
}

.fullheight-container {
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    align-items: center;
}

.flex-centered {
    justify-content: center;
}

.img-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#img-logo-start {
    max-height: 50vh;
    max-width: 65vw;
}

span {
    transition: 0.4s all ease-out;
	-moz-transition: 0.4s all ease-out;
	-webkit-transition: 0.4s all ease-out;
}
